

section.careers__main, section.careers__locator {
	@include sec-padding-top;
}

.simple-locator-form {
	display: block;
	margin:0 auto;
	width: 70%;
}

h2.careers_job-app-title {
	clear:both;
	display: block;
	margin-bottom: 30px;
	text-align: center;
	width: 100%
}

#wpcf7-f1070-p8-o1 {

	label {
		margin: 0 auto;
		position: relative;
		display: block;
		width: 70%;
	}
	input, textarea {
		border-radius:2px;
		border:1px solid #ccc;
		width: 100%;
	}
}

/* SIMPLE LOCATOR FORM */

input.wpsl-search-form {
	border:1px solid rgba(183, 203, 206, 0.77);
	border-radius:2px;
	padding:5px 3px;

}

input.wpsl-search-form {}

button.wpslsubmit, button.all-jobs-link {
	border:1px solid rgba(183, 203, 206, 0.77);
	border-radius: 2px;
	color:#fff; 
	text-transform: uppercase;
	background-color: $blueMain;
	font-family: 'Montserrat', Arial, Helvetica, san-serif;
	font-size: .75rem;
	padding:10px 20px; 
	transition:all .3s;
}

button.wpslsubmit:hover, button.all-jobs-link:hover {
	background-color: $accentColor;
}

select.distanceselect {
		border:1px solid rgba(183, 203, 206, 0.77);
		font-family: 'Montserrat', Arial, Helvetica, san-serif;
		padding:5px 20px; 
		color:$blueMain;
	}


/* PLACEHOLDER */
.careers__simple-locator-wrapper  form {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #aaa9a9;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1em;
    padding-left: 2%;
    text-transform: uppercase;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #aaa9a9;
    font-family: Arial, Helvetica, sans-serif;
    font-size:.7em;
    padding-left: 2%;
    text-transform: uppercase;
  }

  :-ms-input-placeholder { /* IE 10+ */
    color: #aaa9a9;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2%;
    text-transform: uppercase;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: #aaa9a9;
    font-family: Arial, Helvetica, sans-serif;
    font-size:.7em;
    padding-left: 2%;
    text-transform: uppercase;
  } 
}  





