.frontpage-nodes, .states-map {
  img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
  }
}

/* SERVICES ..........*/
.frontpage-services__wrapper {
	padding-top: 2rem;
	margin-bottom: 30px;
}


.frontpage-services p {
	margin:0px auto 30px auto;
	width:100%;
}

@media screen and (min-width:860px) {
	/*
	.frontpage-services p {
		width:90%;
	} */
}

.frontpage-services__service p {
	margin:0px auto 30px auto;
}

/* CONTACT ..........*/
.frontpage-contact {
  background: url('../images/nurse-desk-chair.jpg');
  background-size:contain;
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 100px;

}

.frontpage-contact__title {
	color:#fff;
	@include typi(get-in-touch-map);
}
.frontpage-contact__hr {
	background-color: #fff;
	height:2px;
	width:20%;
}
.frontpage-contact__text {
	line-height: 2;
	font-size: 1.2em;
}

.frontpage-contact__form-wrapper {
	margin: 0 auto;
}

@media (min-width: map-get($breakpoints, medium)) {
  .frontpage-contact__form-wrapper {
	  max-width:60%;
	}
}
