/*
 * Primary Navigation
 */

#menu-primary-navigation {
  li {
    a {
      margin: 0 .8em;
      padding: .2em .6em;
      background-color: color(gray);
      text-transform: uppercase;
    }
  }
}

/*
 * Branding
 */

.navbar-brand {
    max-width: 60%;
    img {
      height: auto;
      max-width: 100%;
    }
}

.super-header {
  color: white;
  background: gray(700);
  @include typi(super-header-map);
  padding: .3em;
  span {
    margin: auto .5em;
    font-family: $font-family-sans-serif;
    a {
      color: white;
    }
  }
}
