.partners__program, .partners__program-options {
  h3 {
    text-align: left;
  }
}

section.hero-partners {
	@include sec-padding-top;
}

section.partners__content, section.partners__program-options {
	@include sec-padding-top;

}

.partners__shared-priorities {
	border:3px solid $liteGray;
	border-radius: 5px;
	padding-top: 30px;
}

h3.partners__shared-h3 {
	padding-top: 2rem;
	text-align: center;
	width:100%;
}

.partners__list-checkbox li {
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom: 5px;
}

.partners__img {
	margin-bottom: 30px;
}

