.partners__program, .partners__program-options {
  h3 {
    text-align: left;
  }
}

section.hero-partners {
	@include sec-padding-top;
}

section.partners__content, section.partners__program-options {
	@include sec-padding-top;

}

.partners__shared-priorities {
  h2 {
    padding-top: 2rem;
    text-align: center;
    width:100%;
  }
	border:3px solid $liteGray;
	border-radius: 5px;
	padding-top: 30px;
}

.partners__list-checkbox li {
	margin-bottom: 5px;
}

.partners__img {
	margin-bottom: 30px;
}

