section.patients-therapy, section.patients-main {
	@include sec-padding-top;

}

.patients__blockquote {
	font-family: Raleway,sans-serif;
	color: #222;
	font-size: 2em;
	font-weight: bold;

}

.patients-therapy__title {
	text-transform: uppercase;
}

section.patients-therapy {
	padding-bottom: 80px;
}