@-webkit-keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }
       

@keyframes angle-down {
	0% {
		opacity:0;
		transform: translateY(50%);
	}
	50% {
		opacity:1;
		transform: translateY(25%);
	}
	100% {
		opacity:1;
		transform: translateY(0%);
	}
}