html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
	transition:all .4s;
}

a:hover {
	text-decoration: none;
	color:lighten($scrubGreen, 7%) !important;
};

ul {
	  list-style-type: none;
    list-style:none;
    padding-left:0;
}

ul.list-checkbox li:before {
	color: $scrubGreen;
  content: '✓ ';
}

.box-shadow {
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}

.deco-dropshadow:before, .deco-dropshadow:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 12px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
.deco-dropshadow:after
	{
	  -webkit-transform: rotate(4deg);
	  -moz-transform: rotate(4deg);
	  -o-transform: rotate(4deg);
	  -ms-transform: rotate(4deg);
	  transform: rotate(4deg);
	  right: 10px;
	  left: auto;
	}

.full-width {
  margin-left: -15;
  margin-right: -15;
}


.x-pad-top {
	padding-top: 50px;
}
