html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
	transition:all .4s;
}

a:hover {
	text-decoration: none;
	color:$amber !important;
};

ul {
	list-style-type: none;
}

ul.list-checkbox li:before {
	color: $green;
  content: '✓ ';
}

.box-shadow {
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
	}

.x-pad-top {  
	padding-top: 50px;
}	