
/*
section[class=”home”] {
	border: 1px solid orange;
	// @include sec-padding-top;    NOT WORKING
	padding-top: 40px !important;
}
*/

section.frontpage-section {
	padding-top: 40px !important;
	padding-bottom:30px !important;
	

}