// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

//COLORS
.lime {color:#cddc39;}
.amber {color:#ffc107;}
.green {color:#388e3c;}
.orange {color:#f57c00}

$lime:#cddc39;
/* $amber:#ffc107; */
$amber:#E6AE06;
$green:#388e3c;
$orange:#f57c00;
$blueMain:#007bbb;
$accentColor:#E6AE06;

/* $defaultGray:#7E8890; */
$liteGray:#e8e8e8;
$defaultGray:#666;
$darkGray:#333C4E;

$fbBlue:#3b5998;
$twitter:#55acee;
$linkedIn:#0077b5; 

$scrubGreen: #15A99D;
$violet: #3D5DA4;

$travisOrange:#f00;
$travisYello:#ff0;

