// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;


//COLORS
.lime {color:#cddc39;}
.amber {color:#ffc107;}
.green {color:#388e3c;}
.orange {color:#f57c00}

$lime:#cddc39;
/* $amber:#ffc107; */
$amber:#E6AE06;
$green:#388e3c;
$orange:#f57c00;

$blueMain:#007bbb;
/* $defaultGray:#7E8890; */
$defaultGray:#666;
$darkGray:#333C4E;
