.btn {
	background-color:$blueMain;
	border-radius: 2px;
	color:#fff;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	transition:all .4s;
}
.btn:hover {
	background-color: $amber;
	color:inherit;
}

.phyt-button {
	text-align: center;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 21px;
	font-size: 18px;
	margin-left: 0 !important;
	padding: 24px 40px;
	color: white !important;
}

.phyt-button.full-width{
  width: 100%;
}

.phyt-button:hover {
	background-color: $amber;
	color:  white !important;
}

@media only screen and (min-width: 768px){
  .phyt-button {
    letter-spacing: 2px;
  }
}

.hero__btn-learn-more {
	border:none;
	font-size:18px;
	letter-spacing: 1px;
	padding:17px 40px;
	width:100%; /* mobile first */
	@media only screen and (min-width: 768px){ width:auto; }
	&:hover {
		color:#fff !important;
	};

}
