.btn {
	background-color:$blueMain;
	border-radius: 2px;
	color:#fff;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	transition:all .4s;
}
.btn:hover {
	background-color: $amber;
	color:inherit;
}

.phyt-button {
	text-align: center;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: 21px;
	font-size: 18px;
	margin-left: 0 !important;
	padding: 24px 40px;
}

.hero__btn-learn-more {
	border:none;
	font-size:18px;
	letter-spacing: 1px;
	padding:17px 40px;
	&:hover {
		color:#fff !important;
	};

}