.hero {
  min-height:500px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size:cover;
  background-attachment: fixed;
  overflow: auto;
  color: white;
  margin-left: -15px;
  margin-right: -15px;
}

.hero-frontpage {
  background: url('../images/nurse_helping_patient_from_bed.jpg');
}

